{{ define "edit"}}

{{ template "header" }}
    <!--Bootstrap theme-->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h3>Edit link</h3>
        <div class="w-75 mx-auto">
            <form action="/del_link/" method="post">
                <input name="id" value="{{ .Link.Id }}" type="hidden" class="form-control">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <form action="/save_link/" method="post">
            <div class="w-75 mx-auto">
                <input name="id" value="{{ .Link.Id }}" type="hidden" class="form-control">
                <input name="name" value="{{ .Link.Name }}" type="text" class="form-control text-dark" placeholder="Name">
                <input name="link" value="{{ .Link.Link }}" type="text" class="form-control text-dark" placeholder="Link">
                <input name="date" value="{{ .Link.Date }}" type="date" class="form-control text-dark" placeholder="Date">
                <input name="tag" value="{{ .Link.Tag }}" type="text"  class="form-control text-dark" placeholder="Tags (space separated)">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        </div>
    </div>

{{ template "footer" }}
{{ end }}