{{ define "index"}}

{{ template "header" }}
    <!--Bootstrap theme-->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-3">
        <form action="/add_link/" method="post">
            <div class="input-group">
                <input name="name" type="text" class="form-control text-dark" style="max-width: 25%" placeholder="Name">
                <input name="link" type="text" class="form-control text-dark" placeholder="Link">
                <input name="tag" type="text" class="form-control text-dark" style="max-width: 10%" placeholder="Tag">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>

        <table class="table table-striped">
            <tr>
            <form action="/sort_links/" method="post">
                <th>Name
                    <button type="submit" name="sort_method" value="name-up" class="btn btn-primary">
                        <i class="bi bi-caret-up"></i>
                    </button>
                    <button type="submit" name="sort_method" value="name-down" class="btn btn-primary">
                        <i class="bi bi-caret-down"></i>
                    </button>
                </th>
                <th>Link
                    <button type="submit" name="sort_method" value="link-up" class="btn btn-primary">
                        <i class="bi bi-caret-up"></i>
                    </button>
                    <button type="submit" name="sort_method" value="link-down" class="btn btn-primary">
                        <i class="bi bi-caret-down"></i>
                    </button>
                </th>
                <th>Date
                    <button type="submit" name="sort_method" value="date-up" class="btn btn-primary">
                        <i class="bi bi-caret-up"></i>
                    </button>
                    <button type="submit" name="sort_method" value="date-down" class="btn btn-primary">
                        <i class="bi bi-caret-down"></i>
                    </button>
                </th>
                <th>Tag
                    <button type="submit" name="sort_method" value="tag-up" class="btn btn-primary">
                        <i class="bi bi-caret-up"></i>
                    </button>
                    <button type="submit" name="sort_method" value="tag-down" class="btn btn-primary">
                        <i class="bi bi-caret-down"></i>
                    </button>
                </th>
                <th></th>
            </form>
            </tr>
            {{ range .Links }}
            <tr>
            <form action="/edit_link/" method="post">
                <input name="id" type="hidden" class="form-control" value="{{ .Id }}">
                <input name="name" type="hidden" class="form-control" value="{{ .Name }}">
                <input name="link" type="hidden" class="form-control" value="{{ .Link }}">
                <input name="date" type="hidden" class="form-control" value="{{ .Date }}">
                <input name="tag" type="hidden" class="form-control" value="{{ .Tag }}">
                <td>{{ .Name }}</td>
                <td><a href="{{ .Link }}">{{ .Link }}</a></td>
                <td>{{ .Date }}</td>
                <td><a href="tag/{{ .Tag }}">{{ .Tag }}</a></td>
                <td>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                    </button>
                </td>
            </form>
            </tr>
            {{ end }}
        </table>
        
    </div>

{{ template "footer" }}
{{ end }}